<% include partials/header %>

<div id="login">
    <form id="login-form" action="/api/login" method="POST">
        <input type="text" name="username" />
        <input type="submit" value="JOIN" />
    </form>
</div>

<% include partials/footer %>