<% include partials/header %>

<div id="registration">
    <form id="registration-form" action="/api/registration/new" method="POST">
        <input type="text" name="username" />
        <input type="text" name="email" />
        <input type="password" name="password" />
        <input type="submit" value="Register" />
    </form>
</div>

<script src="/registration.js"></script>
<% include partials/footer %>