@font-face {
    font-family: Rubik;
    src: url("styles/fonts/Rubik/Rubik-Regular.ttf");
}

@keyframes new-big {
    to {margin-left:0%;}
}
@keyframes old-big {
    to {margin-right:1500%;}
}
@keyframes new-small {
    to {margin-bottom:0%;}
}
@keyframes old-small {
    to {margin-top:1500%;}
}

body {
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:16px;
    font-family: Rubik, sans-serif;
    background-color:#242423;
}

#backstripe {
    position:fixed;
    background-color: #F5CB5C;
    left:50%;
    top:0;
    width: 150px;
    height: 100vh;
    transform: skewX(-40deg);
}

@media (max-height:599px) {
    #message-container {
        display:grid;
        grid-template-columns: 5% 40% 10% 40% 5%;
        grid-template-rows: 10% auto 10%;
        justify-items: center;
        align-items: center;
        height:100vh;
    }
    
    #message-window {
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: span3;
        z-index:3;
        background-color:#E6EDDF;
        justify-self:stretch;
        align-self:stretch;
    
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 70% auto;
        justify-items: center;
        align-items: center;
    }
    
    .message {
        position:relative;
        grid-row-start: 2;
        grid-row-end: 3;
        height:100%;
        background-color: #F5CB5C;
        border-radius: 10px;
        padding: 10px;
        z-index: 4;
    }
    
    #message-form {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 4;
        justify-self: center;
    }

    .anim-new {
        animation: new-small 2s ease-in-out 0s 1 normal forwards;
    }
    
    .anim-old {
        animation: old-small 2s ease-in-out 0s 1 normal forwards;
    }
    .new-message {
        margin-bottom:1500%;
    }
}

@media (min-height:600px) {
    #message-container {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 40% 5% 45% 5%;
        justify-items: center;
        align-items: center;
        height:100vh;
    }
    
    #message-window {
        grid-row-start:2;
        grid-row-end: 3;
        z-index:3;
        background-color:#E6EDDF;
        justify-self:stretch;
        align-self:stretch;
    
        display:grid;
        grid-template-rows: 100%;
        grid-template-columns: auto 250px auto;
        justify-items: center;
        align-items: center;
    }
    
    .message {
        grid-column-start: 2;
        grid-column-end: 3;
        height:90%;
        background-color: #F5CB5C;
        border-radius: 10px;
        padding: 10px;
        z-index: 4;
    }
    
    #message-form {
        grid-row-start: 4;
        grid-row-end: 5;
        z-index: 4;
        justify-self: center;
    }
    .anim-new {
        animation: new-big 2s ease-in-out 0s 1 normal forwards;
    }
    
    .anim-old {
        animation: old-big 2s ease-in-out 0s 1 normal forwards;
    }
    .new-message {
        margin-left:1500%;
    }
}

.username {
    margin:0 0 10px;
    padding:0;
    font-size:20px;
    font-style: italic;
}

#message-form {
    width:250px;
    height:100%;
    background-color: #E6EDDF;
    border-radius:10px;
}

#message-box {
    resize:none;
    display:block;
    width:89%;
    height:40%;
    margin:5% auto;
    padding:5px;
    border: 1px solid #B6BBAD;
    border-radius: 10px;
    font-size:14px;
    font-family:inherit;
    line-height: 1.5em;
}

#timeout {
    display:block;
    width:50%;
    height:5%;
    margin:5% auto;
    padding:5px;
    border: 1px solid #B6BBAD;
    border-radius: 10px;
    font-size:14px;
    font-family:inherit;
    font-style: italic;
    line-height: 1.5em;
}

.submit {
    border:0;
    border-radius: 10px;
    background: #282827;
    color: #E6EDDF;
    display:block;
    margin:15px auto;
    padding:10px;
    font-size:inherit;
    font-family:inherit;
}